<div class="row">

  <div class="col-md-12">
    <div class="row">

      <div class="col-md-4 offset-md-2">
        
        <div class="card">
          <div class="card-body">
            
            <a href="/dashboard" class="card-link" >Check Loan Status</a>

          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">


            <a href="/register" class="card-link">Raise New Loan Request</a>
          </div>
        </div>


      </div>

    </div>


  </div>

</div>